doctype html

html

	head

		title="Welcome"
		link(rel="stylesheet" type="text/css" href="style.css")

	body
		header
			h1 Welcome!
		section
			p To log out press button below :-)
			a(href="http://localhost:3000/logout") Log out